.palette-module
  margin-top (basePadding*3)
  display flex
  flex-direction column
  align-items center
  &__title
    font-size font-xxl
    text-align center
    color #b0986e
    font-weight 700
    margin-bottom (basePadding*2)
    text-decoration none
  &__palette
    width 15rem
    height 15rem
    display flex
    justify-content center
    align-items center
    font-size font-xxl
    text-decoration none
    background-image url('../images/hair-palette.png')
    background-size 15rem 15rem
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hair-palette@2.png')
    span
      &:nth-of-type(1)
        font-size (font-m*2)
        margin-right 0.25rem
      &:nth-of-type(2)
        font-size font-xxl
