include ../scripts/scripts
include ../grid/grid
include ../navigation/navigation
include ../youtube-responsive/youtube-responsive
include ../breadcrumbs/breadcrumbs
include ../products-list/products-list
include ../page-section/page-section
include ../form/form
include /blocks/price-block/price-block
include /blocks/colors-slider/colors-slider
include /blocks/figure/figure
include /blocks/marked-block/marked-block
include /blocks/feedback-list/feedback-list
include /blocks/home-catalog/home-catalog
include /blocks/faq-list/faq-list
include /blocks/delivery-block/delivery-block
include /blocks/contact-line/contact-line
include /blocks/gallery/gallery


doctype html
html(lang='ru')
  include ../head/head
  body
    include ../header/header
    include ../header-mobile/header-mobile
    include /data/product-price.pug
    include /data/wholesale-form
    include /data/delivery
    include /data/reviews
    main
      block content
    include ../footer/footer
  +scripts(['script.js'])
