.product-photos
  display flex
  flex-wrap wrap
  margin -(basePadding)
  &__item
    flex-basis calc(100% / 3)
    padding basePadding
    display flex
    &--main
      flex-basis 100%
    a
      position relative
      border 1px solid #cccccc
      &::after
        content ''
        position absolute
        bottom basePadding
        right basePadding
        width 1.5rem
        height 1.5rem
        background-size 1.5rem
        background-image url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 139 139' fill='%23ffffff' height='139px' id='Find' version='1.1' viewBox='0 0 139 139' width='139px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M127.558,111.961L100.249,84.65c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996  c-26.508,0-47.996,21.487-47.996,47.996c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986  c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C131.308,121.787,131.308,115.711,127.558,111.961z   M59.584,91.607c-17.917,0-32.443-14.525-32.443-32.443S41.667,26.72,59.584,26.72c17.918,0,32.443,14.526,32.443,32.444  S77.502,91.607,59.584,91.607z'/></svg>")
        
    img
      display block
