.palette
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  &__item
    margin-x basePadding
    margin-bottom (basePadding*2)
    text-align center
    max-width calc(100%/3 - 1.5rem)
    img
      border 1px solid #b0986e
      padding (basePadding/3)
  &__name
    font-size font-s
    line-height line-s
    margin-bottom 0
