.button
.btn
  -webkit-appearance none
  padding (basePadding/3*2) (basePadding*2)
  display inline-block
  line-height line-m
  text-align center
  text-decoration none
  cursor pointer
  color #fff
  background-color #444447
  border-radius (basePadding/3)
  transition background-color .2s
  border none
  font-size font-l
  &:hover
  &:focus
    color #fff
    background-color #b0986e
    transition none
  &:active
    color #fff
    background-color #787777
    transition none
a[href^='#'].button
a[href^='#'].btn
  text-decoration none
  @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
    text-decoration none
