.header-mobile-switcher-label
  position relative
  width 24px
  height 24px
  span
    display block
    position absolute
    height 2px
    width 24px
    background-color #b0986e
    top 0
    right 0
    transition transform .4s, opacity .4s
    transform-origin 100% 50% 0 
    &:nth-of-type(2)
      top 11px
    &:nth-of-type(3)
      top 22px
      // transform-origin 0 0 0 
  &:hover
    span
      background-color #998d78
      
    
.header-mobile-switcher
  display none
  &:checked
    & ~ .header-mobile-switcher-label
      span
        background-color #998d78
        &:nth-of-type(1)
          transform rotate(-45deg) scaleX(1.3)
        &:nth-of-type(2)
          opacity 0
        &:nth-of-type(3)
          transform rotate(45deg) scaleX(1.3)
    & ~ .header-mobile-menu
      opacity 1
      visibility visible
      transform translateY(0)
