mixin deliveryBlock(list)
  .delivery-block
    each item in list
      +grid.delivery-block__item
        +grid__item({xs:4})
          img(src=`/images/delivery/${item.img}` alt='').delivery-block__image
        +grid__item({xs:8}).delivery-block__info
          h3.delivery-block__title !{item.title}
          ul.list-links.list-links--horizontal
            each link in item.links
              li
                a(href!= link.href) !{link.name}
