.breadcrumbs
  display flex
  flex-wrap wrap
  padding-y (basePadding*2)
  font-size font-s
  line-height line-s
  align-items center
  &__parent
    padding-right (basePadding /2 )
    a
      color color-text
      &:hover
        color color-link-hover
  &__current
    color color-text-secondary
  &__separator
    border 0.25rem solid transparent
    border-left 0.25rem solid #cccccc
