mixin productsList(list)
  .products-list
    each item in list
      +grid.products-list__item
        +grid__item({m:5,s:4,xs:12}).products-list__image
          a(href!= item.href)
            img(src!= item.img alt!= item.name)
        +grid__item({m:7,s:8,xs:12}).products-list__info
          a(href!= item.href).products-list__title !{item.name}
          .products-list__description !{item.desc}
          if item.features
            ul.products-list__features.list-marked
              each i in item.features
                li.products-list__feature !{i}
          a(href!= item.href).btn Learn more
          
