.products-list
  &__item
    margin-bottom (basePadding*5)
    &:last-child
      margin-bottom 0
  &__title
    margin-bottom 1.375rem
    font-size 1.75rem
    font-weight bold
    color #000000
    text-decoration none
    display block
  &__description
    @extends p
    font-size font-xl
  &__feature
    margin-bottom basePadding
