.product-delivery
  padding (basePadding*2)
  border 1px solid #eee3c7
  p:last-child
    margin-bottom 0
  &__header
    font-size font-xl
    margin-bottom font-s
    a
      font-size font-m
      font-weight normal
  &__list
    display flex
    flex-wrap wrap
    margin-x -(basePadding)
  &__item
    padding basePadding
    max-width 50%
    img
      display block
      border 1px solid #c1c1c1
      padding (basePadding/3)
