header.header-mobile
  .header-mobile__menu
    include header-mobile-switcher/header-mobile-switcher
    include header-mobile-menu/header-mobile-menu
  .header-mobile__info
    span.header-mobile__name Volosy24
    span.header-mobile__phone wholesaler of human hair for extensions
    
  
  
