.header-mobile
  padding basePadding
  background-color #ffffff
  border-bottom 0.5px solid #cccccc
  height 5rem
  display flex
  @media screen and (min-width point-m)
    display none
  &__info
    display flex
    flex-direction column
    flex-grow 1
    align-self center
    padding-x (basePadding*2)
  &__name
    margin-bottom (basePadding/3)
    font-weight bold
  &__phone
    color #6c6c6c
  &__menu
  &__logo
    width 2.5rem
    display flex
    align-items center
    justify-content flex-end
  
