.gallery
  display flex
  flex-wrap wrap
  margin -(basePadding)
  &__item
    padding basePadding
    a
      transition opacity .4s
      display block
      &:hover
        opacity 0.7
        transition none
    img
      max-height 17rem
      max-width 100%
      display block
