.form-input
  display flex
  flex-direction column
  &--file
    flex-direction row
    margin -(basePadding)
    align-items center
    flex-wrap wrap
    & > *
      margin (basePadding)
  &__header
    display flex
    margin-x -(basePadding)
    justify-content space-between
  &__label
    align-self flex-start
    margin-bottom (basePadding/2)
    color #0b0b0b
    margin-x (basePadding)
    &.btn
      color #ffffff
      font-size font-m
  &__description
    margin-x (basePadding)
  &__input
    padding (font-m/2)
    border 1px solid #dfd3b4
    border-radius 0.2rem
    &--file
      position absolute
      width 0
      height 0
      opacity 0
      overflow hidden
    textarea&
      height (line-m*4)
      resize none
