.list-links
  @extends p
  li
    margin-bottom (font-m/4)
    .list-links
      padding-left (basePadding*4)
      margin-y  (font-m/4)
  &--horizontal
    display flex
    flex-wrap wrap
    margin-x -(basePadding)
    li
      margin-x basePadding
