.aside-download
  background-color #dfd3b4
  padding (basePadding*2)
  padding-left (basePadding*8)
  background-image svgImport('/svg/doc.svg')
  background-repeat no-repeat
  background-position (basePadding*3) center
  background-size (basePadding*3) auto
  max-width 22rem
  &__title
    font-weight bold
    @extends p
    margin-bottom 0
  &__link
    @extends p
    margin-bottom 0
