.product-top-panel
  if topPanelNoLinks != true
    .product-top-panel__links
      ul.list-links
        li
          a(href='#') Choose color
        li
          a(href='#') Choose size
        li
          a(href='#') Show price
  else
    .product-top-panel__price 48 EUR / 51 USD
      
  .product-top-panel__order-now
    a(href='#product-order-form').btn Order now
