.product-top-panel
  display flex
  padding-y (basePadding*2)
  background-color #dfd3b4
  justify-content space-between
  margin-bottom 1.75rem
  &__links
  &__order-now
  &__price
    padding-x (basePadding*2)
  &__price
    font-size 1.75rem
    font-weight bold
    align-self center
  .list-links
    margin-bottom 0
