.colors-slider
  padding-x 3.75rem
  position relative
  &__list > li
    display flex
    flex-direction column
  &__item
    text-align center
    margin-bottom (basePadding*2)
  &__image
    display block
    margin-bottom (basePadding/3)
  .flex-control-nav
    list-style none
    display flex
    justify-content center
    padding-y basePadding
    li
      margin-x (basePadding/3)
      a
        width font-s
        height font-s
        display block
        background #666
        background rgba(0, 0, 0, 0.5)
        cursor pointer
        text-indent -9999px
        box-shadow inset 0 0 3px rgba(0, 0, 0, 0.3)
        border-radius 20px
        &:hover
          background rgba(0, 0, 0, 0.75)
        &.flex-active
          background #000000
  .flex-prev
  .flex-next
    text-indent -9999px
    display block
    width 3rem
    height 3rem
    background-size 3rem
    position absolute
    top 50%
    transform translateY(-50%)
  .flex-prev
    background-image url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M7.701,14.276l9.586-9.585c0.879-0.878,2.317-0.878,3.195,0l0.801,0.8c0.878,0.877,0.878,2.316,0,3.194  L13.968,16l7.315,7.315c0.878,0.878,0.878,2.317,0,3.194l-0.801,0.8c-0.878,0.879-2.316,0.879-3.195,0l-9.586-9.587  C7.229,17.252,7.02,16.62,7.054,16C7.02,15.38,7.229,14.748,7.701,14.276z' fill='#515151'/></svg>")
    left 0
  .flex-next
    background-image url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 32 32' height='32px' id='Layer_1' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M24.291,14.276L14.705,4.69c-0.878-0.878-2.317-0.878-3.195,0l-0.8,0.8c-0.878,0.877-0.878,2.316,0,3.194  L18.024,16l-7.315,7.315c-0.878,0.878-0.878,2.317,0,3.194l0.8,0.8c0.878,0.879,2.317,0.879,3.195,0l9.586-9.587  c0.472-0.471,0.682-1.103,0.647-1.723C24.973,15.38,24.763,14.748,24.291,14.276z' fill='#515151'/></svg>")
    right 0
