mixin colorsSlider(colors)
  .colors-slider
    ul.slides.colors-slider__list
      -
        let n = colors.length
        let i = 0
      while i < n
        - let colorsCurrent = [colors[i], colors[i+1]]
        li
          each item in colorsCurrent
            if item != undefined
              .colors-slider__item
                img(src!= item.img alt= `Color: ${item.name}`).colors-slider__image
                .colors-slider__title Color: !{item.name}
        - i+=2
          
