.home-catalog
  margin-bottom (basePadding*3)
  &__item
    text-align center
    &:hover
      & ^[-2]__image
        box-shadow 0 0 5px #bdbec0
        transition none
      & ^[-2]__title
        color #998d78
  &__image
    display block
    margin-bottom basePadding
    width 100%
    border 1px solid #bdbec0
    transition box-shadow .2s
    padding basePadding
  &__title
    color #000000
    font-size font-xl
    // line-height 1.125
