mixin homeCatalog(list)
  +grid({paddingy:true,justify:'center'}).home-catalog
    each item in list
      +grid__item({m:4,s:6,xs:12}).home-catalog__item
        a(href= item.href)
          img(src= item.img alt= item.name).home-catalog__image
          .home-catalog__title !{item.name}
