.footer-main
  padding-y (basePadding*2)
  background-color #f7f7f7
  &__logo
    margin-bottom line-m
    a
      display block
  &__mail
    a
      // padding-left (basePadding*2)
      color #444447
      text-decoration none
      font-size font-l
      &::before
        content ''
        display inline-block
        width 1rem
        height 0.75rem
        background-image svgImport('/svg/mail.svg')
        background-repeat no-repeat
        background-position left 
        background-size 1rem 
        margin-right basePadding
      &:hover
        color #998d78
  &__menus
    display flex
    margin-x -(basePadding)
    @media screen and (max-width point-m - 1)
      display none
  &__menu
    padding-x basePadding
    flex-grow 1
  &__bottom
    display flex
    margin -(basePadding)
    padding-top (basePadding*4)
    flex-wrap wrap
  &__copy
  &__link
  &__author
    padding basePadding
  &__author
    margin-left auto 
