include footer-menu/footer-menu
footer.footer-main.container
  .content
    +grid.footer-main__inner
      +grid__item({m:4,xs:12})
        .footer-main__logo: a(href='/')
          include /blocks/logo/logo
        .footer-main__mail: a(href='mailto:market@russian-hair.org') market@russian-hair.org
      +grid__item({m:8,xs:12}).footer-main__menus.hidden-s.hidden-xs
        -
          const footerMenu1 = {
            title: 'Products',
            list: [
              {name:'Human hair in bundles', href:'/products/human-hair-in-bundles.html'},
              {name:'Pre-bonded keratin-based extensions', href:'/products/pre-blonded-keratin-based-extensions.html'},
              {name:'Tape extensions', href:'/products/tape-extensions.html'},
              {name:'Color ring', href:'/products/color-ring.html'},
            ]
          }
          const footerMenu2 = {
            title: 'Customer Service',
            list: [
              {name:'Price', href:'/price/'},
              {name:'How to order', href:'/service/how-to-order/'},
              {name:'Delivery information', href:'/service/delivery/'},
              {name:'Payment Security Information', href:'/service/payment/'},
              {name:'Product Warranty', href:'/service/warranty/'},
              {name:'Duties and Taxes', href:'/service/tax/'},
              {name:'FAQ', href:'/service/faq/'},
              {name:'Order tracking', href:'/service/order-tracking/'},
            ]
          }
          const footerMenu3 = {
            title: 'Company',
            list: [
              {name:'About us', href:'/about/'},
              {name:'Become a distributor', href:'/wholesale/'},
              {name:'Manufacturing', href:'/about/manufacturing/'},
              {name:'Reviews', href:'/about/reviews/'},
              {name:'Sertificates', href:'/about/sertificates/'},
              {name:'Contact', href:'/contact/'},
            ]
          }
        +footerMenu(footerMenu1).footer-main__menu
        +footerMenu(footerMenu2).footer-main__menu
        +footerMenu(footerMenu3).footer-main__menu
    .footer-main__bottom
      .footer-main__copy © 2015-2018 russian-hair.org. All rights reserved.
      .footer-main__link: a(href='') Site map
      .footer-main__author
        a(href='http://www.medreclama.ru/') Created by
        |  medreclama.ru
