.faq-list
  &__item
    margin-bottom (basePadding*2)
    padding-bottom (basePadding*2)
    border-bottom 1px solid rgba(223,211,180,0.5)
    &:last-child
      border-bottom none
  &__item-title
    @extends h3
  &__item-body
    @extends p
    margin-bottom 0
