mixin markedBlock(title, settings = {})
  if settings.sec
    - attributes.class = attributes.class == undefined ? 'marked-block--sec' : 'marked-block--sec ' + attributes.class
  .marked-block(class!= attributes.class)
    if title
      .marked-block__title !{title}
    block
