mixin priceBlock(prices)
  .price-block
    .price-block__currencies
      span Select currency:
      ul.price-block__currencies-list
        each currency in prices.currencies
          li.price-block__currency-title(data-currency!= currency.id) !{currency.sign} 
            span !{currency.name}
            |  (!{currency.id.toUpperCase()})
    - let row = 0;
    each currency in prices.currencies
      table.price-block__currency-table(data-currency=`${currency.id}`)
        tr
          td
          td 
          td Wholesale price
        tr
          td Length, cm (inch)
          td !{currency.id.toUpperCase()}, price for !{prices.unit}
          td !{currency.id.toUpperCase()}, price for !{prices.unit}<br>
            strong discount 20%
        each item in prices.prices
          tr
            td !{item.lng}
            each i in item.rows[row]
              td !{i} !{currency.sign}
        - row++
