.price-block
  &__currencies
    display flex
    width 100%
    justify-content flex-end
    align-items baseline
    &-list
      margin-bottom (basePadding/3*4)
      display flex
  &__currency-title
    margin-left basePadding
    font-size font-xl
    cursor pointer
    color #c6bdaf
    border-bottom 1px dotted
    span
      color #b0986e
    &_current
      cursor default
      color #bdbec0
      border-bottom none
      span
        color #444447
  &__currency-table
    display none
    width 100%
    text-align center
    &:first-of-type
      display table
    td
      padding basePadding
      width calc(100% / 3)
      &:nth-of-type(3)
        background-color #eee3c7
    tr:not(:first-of-type):not(:nth-of-type(2))
      td:nth-of-type(2)
      td:nth-of-type(3)
        font-size font-l
    tr:not(:first-of-type)
      td
        border-top 1px solid #abaaaa
        border-bottom 1px solid #abaaaa
        &:first-of-type
          border-left 1px solid #abaaaa
          border-right 1px solid #abaaaa
