extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Tape extensions'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/colors
  .container
    .content.content--main
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Product guide'], 'current':'Tape extensions'})
      h1 Tape extensions
      +pageSection
        +grid({paddingy:true}).product
          +grid__item({m:5,xs:12}).product__images
            include /blocks/product-photos/product-photos
            -
              const photos = [
                {src:'/images/products/bundles.jpg', alt:''},
                {src:'/images/products/bundles-2.jpg', alt:''},
                {src:'/images/products/bundles-3.jpg', alt:''},
              ]
            +productPhotos(photos)
          +grid__item({m:7,xs:12}).product__info
            - const topPanelNoLinks = true
            include /blocks/product-top-panel/product-top-panel
            p Volosy 24 color ring has 55 colors. It consists of 55 short brushes of hair samples from black to the lightest blond. Each sample has its number and is connected to the metal ring.
            p The colors of our extensions (pre-bonded hair, tape extensions, hair in bundles) coincide with the samples on the color ring.
            p Our color rings are made of human hair which we bleach and color and serve our clients to better match colors of hair extensions to their clients hair. Since synthetic hair samples are not convenient to get the correct color because of the artificial brilliance (especially in natural colors) we use only human hair for making color rings.
            p When developing our color system we included many natural shades which many of our clients prefer - natural shades of non-colored hair (natural blonds, different tones of fair and dark blonds, including ash blond) as well as colors into which they prefer to color their own hair (raven-black, red tones, the lightest blonds and others).
            p It is important to understand that our color ring serves for presenting colors of our hair and NOT our hair extensions quality and structure.
            h2 Matching hair by color ring
            p Thanks to our color ring you can quickly and easily select the necessary color which allows to get a wonderful combination of your own hair and your extensions as a result.
            h3 How to use the color ring correctly
            p Put the color sample to the lower part of your own hair and define the basic color based on the color ring. When you select several colors which you think best matching your hair put these samples on your own hair to select the best shades for your extensions.
            h2 Distant order with the help of the color ring
            p Select the necessary samples of colors. Every sample has its number. The number in the color ring corresponds to the color numbers that we are using in our production, Please, specify the color number in your order and you can be sure that you will get exactly the color which you have selected.
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            +form(wholesaleForm).product-order-form#product-order-form
            include /blocks/wholesale-tooltip/wholesale-tooltip
          +grid__item({m:4,xs:12})
            include /blocks/product-delivery/product-delivery
          
        
