extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Contact'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Contact'})
      h1 Contact
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:7,xs:12})
            +contactLine({type:'address'})
              strong 196084, Russia, St. Petersburg
              br
              | Nab. Obvodnogo kanala, 108, Volosy 24 Ltd.
            +contactLine({type:'mail'})
              | market@russian-hair.org
            +contactLine({type:'skype'})
              | russian-hair.org
              br
              small from 10:00 am till 9:00 pm daily (UTC+3 MSK)
            h2 In Russian

            p 8 (961) 809-41-88 (viber, whatsapp)
              br
              | +7 (812) 425-67-68
              br
              small from 10:00 am till 9:00 pm daily (UTC+3 MSK)
              br
              a(href='https://www.instagram.com/volosy24/' target='_blank').link-instagram volosy24
            h2 In English

            p e-mail: market@russian-hair.org 
              br
              | skype: russian-hair
              br
              small from 10 am till 9 pm daily (UTC+3 msk)
              br
              a(href='https://www.facebook.com/olga.hair.946' target='_blank').link-facebook olga.hair.946
              
            p
              strong Please, fill in the feedback form
              br
              | Please, specify the time of call convenient for you (and city as well to take into account the time difference)
              br
              | Our English speaking manager will contact you for details
          +grid__item({m:5,xs:12})
            -
              let contactForm = {
                title: 'Contact form',
                inputs: [
                  {label:'Name', type:'text', id:'name', name:'name'},
                  {label:'E-mail', type:'email', id:'email', name:'email'},
                  {label:'Phone', type:'tel', id:'tel', name:'tel'},
                  {label:'Message', type:'textarea', id:'message', name:'message'},
                ],
                submit: 'Send',
                settings:''
              }
            +form(contactForm).form-contact
      +pageSection
        +grid()
          +grid__item({m:8,xs:12})
              h2 This is a short introduction video about our company
              +youtube('73bKdFOVqo8')
      +pageSection
        +grid()
          +grid__item({m:8,xs:12})
            h2 Our studio 3D-tour
            .youtube-responsive
              .youtube-responsive__iframe
                iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469' allowfullscreen)
      +pageSection
        h2 Photos of our studio
        -
          const contactsGallery = [
            {detail: '/images/office/49.jpg'},
            {detail: '/images/office/42.jpg'},
            {detail: '/images/office/46.jpg'},
            {detail: '/images/office/43.jpg'},
            {detail: '/images/office/45.jpg'},
            {detail: '/images/office/44.jpg'},
            {detail: '/images/office/47.jpg'},
            {detail: '/images/office/48.jpg'},
          ]
        +gallery(contactsGallery,{id:'office-photos'})
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/wholesale//') Become a wholesaler
              li
                a(href='/about/manufacturing/') Slavic hair extensions
              li
                a(href='/products/') How we produce hair extensions
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
