extends /blocks/layout/layout

block head
  -
    var pageTitle = 'services'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'How to order'})
      h1 How to order
      +pageSection  
        +grid({paddingy:true})
          +grid__item({m:8, xs:12})
            h2 Order different products
            p Please, create your wholesaler order and attach the file to the order form. 
              br
              | You will find all the additional information in the sample order:

            ul.list-marked
              li example of how to fill out the order
              li list of products with prices, their lengths and colors
          +grid__item({m:4, s: 6, xs:12})
            include /blocks/aside-download/aside-download
      +pageSection  
        h2 What to specify in “comments” to the order
        +grid({paddingy:true})
          +grid__item({m:8, xs:12})
            p Detailed description of the order will help us to more accurately and quickly calculate the payment amount.

            ol.list-numbered
              li Specify which type of extensions you are interested in, lengths, colors, quantities.
              li Specify the delivery address. We will contact you and tell you the cost of delivery
              li If you want to become a distributor or a wholesaler customer - please, specify this in your order and we will send you our wholesaler terms and conditions
              li You feel more comfortable communicating with Russian or English speaking manager. Please, specifiy this in your order.
            
            p Push “
              strong Sent
              | ” to send an order

            p
              strong Your order is created!
              |  Please, wait till our manager contacts you. The order processing time depends on the number of orders being processed at the moment and working hours (we are ready to answer you daily from 10am till 9 pm UTC+3 msk time).
          +grid__item({m:4, s: 6, xs:12})
            img(src='/images/wholesale-screenshot.jpg' alt='')
      +pageSection  
        h2 100% order prepayment
        p We will confirm the order and send you the invoice. After the payment is received we will send the order via the shipment company. 
          br
          | We will send you the tracking number to the e-mail address that you specified in your order form.

      +pageSection  
        h2 Retail purchase

        p When ordering specify that you are buying extensions for yourself and we will help you to find the exact hair color. For that attach your photo to the order form. Please, make sure that the color of your own hair is very well seen on the photo.

        p Do you use Facebook? Please, contact our specialist through Facebook if you have suitable photos on your FB page.
          br
          a(href='https://www.facebook.com/volosy24.ru' target='_blank').link-facebook russian-hair
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li: a(href='/service/delivery/') Delivery
              li: a(href='/service/payment/') How to pay?
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
