extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Human hair in bundles'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/colors
  .container
    .content.content--main
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Product guide'], 'current':'Human hair in bundles'})
      h1 Human hair in bundles
      +pageSection
        +grid({paddingy:true}).product
          +grid__item({m:5,xs:12}).product__images
            include /blocks/product-photos/product-photos
            -
              const photos = [
                {src:'/images/products/bundles.jpg', alt:''},
                {src:'/images/products/bundles-2.jpg', alt:''},
                {src:'/images/products/bundles-3.jpg', alt:''},
              ]
            +productPhotos(photos)
          +grid__item({m:7,xs:12}).product__info
            include /blocks/product-top-panel/product-top-panel
            p Hair in bundles can be used both for making extensions and for other hair products making (wigs, for example). For our extensions we use only 100% human hair . All the hair is selected and collected into bundles depending on its structure and color.
            p Hair in bundles is single drawn, which means that there are hairs of different lengths in one bundle. Hair ends are light as if thinned out a little bit and look very natural. Such hair will also look very natural on the client’s head as her own long hair. If you want to have long have and are keen on looking natural single drawn type is your choice.
            p Each bundle contains 100-110 grams of hair which is in average enough for one head of extensions. We provide a broad selection of lengths and colors.
            p Our hair is bleached and colored very carefully with preserved cuticles and hair structure. We do not process our hair with silicone-containing products so it does not have the unnatural brilliance which goes off after the first shampoo wash.
      +pageSection#product-colors
        h2 54 colors
        
        +colorsSlider(colors)
      +pageSection#product-price
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            h2 Price per unit 
              small 100 g
            +priceBlock(pricesBundle)
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            +form(wholesaleForm).product-order-form#product-order-form
            include /blocks/wholesale-tooltip/wholesale-tooltip
          +grid__item({m:4,xs:12})
            include /blocks/product-delivery/product-delivery
          
        
