extends /blocks/layout/layout

include /blocks/delivery-block/delivery-block

block head
  -
    var pageTitle = 'Manufacturing'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'About us'})
      h1 Manufacturing
      +pageSection
        +grid({paddingy: true})
          +grid__item({s:7,xs:12})
            p
              strong We have been in hair extensions manufacturing business since 2008 in St. Petersburg, Russia
            p Our specialists were trained abroad and received an international level of skills and experience in the area of human hair processing. We can guarantee the hair products quality confirmed by official certificates. All the products manufactured by us pass all the processing stages: mechanic, dyeing, hacklng, drying, etc. All these stages are passed through according to accepted international rules and standards.
            p To offer you beautiful brilliant hair of different lengths and colors specially prepared for extensions we have to work very hard. Hair processing and extensions making skills are acquired in routine manual manipulations which demand much accuracy and attention.
          +grid__item({m:5,xs:8})
            img(src='/images/about/manufacturing/1.jpg')
      +pageSection
        h2 Manual production process of hair extensions making
        h3 1. Selecting reliable raw hair suppliers,
        p which allow us to be sure in hair quality. Much depends on the raw hair quality. The difficult thing about selecting raw hair for further processing lies in the fact that visually and manually it is not always possible to determine the quality. Certain manipulations are needed to see what this hair “is capable of”. Much depends on the raw hair quality. The difficult thing about selecting raw hair for further processing lies in the fact that visually and manually it is not always possible to determine the quality. Certain manipulations are needed to see what this hair “is capable of”.Much depends on the raw hair quality.
      +pageSection
        h3 2. Bleaching an dyeing
        p Here comes pure chemistry. A very difficult process which demands constant control and attention. The smallest mistake or neglection can lead to partial of total quality loss.
        p Each hair lot demands indidividual approach. And not only the lot, even each bundle. Only thus we can be sure in the final result.
        +grid({paddingy: true})
          +grid__item({m:4,s:6,xs:12})
            img(src='/images/about/manufacturing/2.jpg')
          +grid__item({m:4,s:6,xs:12})
            img(src='/images/about/manufacturing/3.jpg')
          +grid__item({m:4,s:6,xs:12})
            img(src='/images/about/manufacturing/4.jpg')
      +pageSection
        h3 3. Sorting out hair by lengths
        p One of the mandatory operlations is sorting out hair by lengths.
        p If you pay a close attention our pre-bonded strands have the so-called dense ends, Hence, if we say that our hair has 50-55 cm length it means that the density on the hair ends will be almost the same as on the top. Some manufacturers selling hair in bundles name one length but in fact they add 50% of less length hair into their bundles. It can be checked if we fold the bundle closer to the root base. If there are too many short hairs they will stick out from the middle of the bundle.
        +grid({paddingy: true})
          +grid__item({s:6,xs:12})
            img(src='/images/about/manufacturing/5.jpg')
          +grid__item({s:6,xs:12})
            img(src='/images/about/manufacturing/6.jpg')
      +pageSection
        +grid({paddingy: true})
          +grid__item({s:8,xs:12})
            h3 4. Quality control at the finished product stage
            p Our specialists check the final product quality visually and manually. If there is even the least possibility of “reversed” hairs in the bundle it is being discarded. Is is this reversed hair which leads to excessive tangibility of hair.
            +grid({paddingy: true})
              +grid__item({s:6,xs:12})
                img(src='/images/about/manufacturing/7.jpg')
              +grid__item({s:6,xs:12})
                img(src='/images/about/manufacturing/8.jpg')
          +grid__item({s:4,xs:12})
            .marked-block(style='display: flex; flex-direction:column; align-items: center')
              p We have voluntarily received the certificate in the Russian Federal Sanitary Control Service to confirm our quality.
              img(src='/images/about/manufacturing/sertificate.jpg')
      +pageSection
        h2 Look what we produce hair
        -
          const homeCatalog = [
            {name:'Russian slavic hair in bulk', img:'/images/russian-slavic-hair-in-bulk.jpg', href:'/products/human-hair-in-bundles.html'},
            {name:'Russian slavic hair pre-bonded', img:'/images/russian-slavic-hair-pre-bonded.jpg', href:'/products/pre-bonded-keratin-based-extensions.html'},
            {name:'Russian slavic tape hair', img:'/images/russian-slavic-tape-hair.jpg', href:'/products/tape-extensions.html'},
          ]
        +homeCatalog(homeCatalog) 
      +pageSection
        +markedBlock('Still have questions about the production of the Slavic Hair Extensions?',{sec:true})
          +grid
            +grid__item({s:6,xs:12})
              strong Write to our mail: 
                a(href='mailto:market@russian-hair.org') market@russian-hair.org
            +grid__item({s:6,xs:12})
              strong or enter a question in the 
                a(href='/contact/') feedback form
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li: a(href='/wholesale/') Become a distributor
              li: a(href='/about/reviews/') Reviews wholesaler customers
              li: a(href='/about/sertificates/') Certificates for hair extensions
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
