extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Pre-bonded keratin-based extensions'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/colors
  .container
    .content.content--main
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Product guide'], 'current':'Pre-bonded keratin-based extensions'})
      h1 Pre-bonded keratin-based extensions
      +pageSection
        +grid({paddingy:true}).product
          +grid__item({m:5,xs:12}).product__images
            include /blocks/product-photos/product-photos
            -
              const photos = [
                {src:'/images/products/bundles.jpg', alt:''},
                {src:'/images/products/bundles-2.jpg', alt:''},
                {src:'/images/products/bundles-3.jpg', alt:''},
              ]
            +productPhotos(photos)
          +grid__item({m:7,xs:12}).product__info
            include /blocks/product-top-panel/product-top-panel
            p To make this type of extensions we use only 100% human hair and Italian high-melt keratin of the highest quality. Pre-bonded extensions are packed by 20 pcs. You can choose any quantity divisible by 20. The weight of each strand is calculated in such a way that after the extensions are bonded to your hair they would not be distinctive from your own hair and would not harm it.
            p We use single-drawn type of hair for making our pre-bonded keratin-based strands. Our strands have light ends as if a little thinned out. These extensions will look very natural in your own hair. And if a natural look is your preference then these extensions are really for you.
            p All the hair is colored in a very careful way, cuticles and hair structure are preserved. The hair is not processed with silicone-based materials. If you want to look natural with your extensions choose this type of hair. You will not have problems with your hair care as it will be the same as with your own colored hair.

      +pageSection#product-colors
        h2 54 colors
        
        +colorsSlider(colors)
      +pageSection
        h2 Structure: straight or slightly wavy
        +grid({paddingy:true, justify: 'center'})
          +grid__item({s:6,xs:12})
            img(src='/images/structure-straight.jpg' alt='Hair structure: straight')
          +grid__item({s:4,xs:12})
            img(src='/images/structure-wavy.jpg' alt='Hair structure: wavy')
      +pageSection#product-price
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            h2 Price per unit 
              small 1 pcs
            +priceBlock(pricesPreBonded)
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            +form(wholesaleForm).product-order-form#product-order-form
            include /blocks/wholesale-tooltip/wholesale-tooltip
          +grid__item({m:4,xs:12})
            include /blocks/product-delivery/product-delivery
          
        
