extends /blocks/layout/layout

include /blocks/home-catalog/home-catalog

block head
  -
    var pageTitle = 'Product guide'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.content--main
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Product guide'})
      h1 Product guide
      -
        const products = [
          {
            href: 'http://russian-hair.org/products/human-hair-in-bundles.html',
            img: '/images/products/bundles.jpg',
            name: 'Human hair in bundles',
            desc: 'For making extensions and wig making 100% natural human hair',
            features: [
              'Length from 40 cm to 80 cm',
              '55 shades of color',
              'Structure: straight or slightly wavy'
            ]
          },
          {
            href: 'http://russian-hair.org/products/pre-bonded-keratin-based-extensions.html',
            img: '/images/products/pre-bonded.jpg',
            name: 'Pre-bonded keratin-based extensions',
            desc: 'Hair products for Italian technology of extensions 100% human hair',
            features: [
              'Length from 40 cm to 80 cm',
              '55 shades of color',
              'Structure: straight or slightly wavy'
            ]
          },
          {
            href: 'http://russian-hair.org/products/tape-extensions.html',
            img: '/images/products/tape-extensions.jpg',
            name: 'Tape extensions',
            desc: '100% human hair',
            features: [
              'Length from 40 cm to 80 cm',
              '55 shades of color',
              'Structure: straight or slightly wavy'
            ]
          },
          {
            href: 'http://russian-hair.org/products/color-ring.html',
            img: '/images/products/color-ring.jpg',
            name: 'Color ring',
            desc: 'Professional color ring of hair color samples. Includes 55 shades. Is made of 100% human hair.'
          },
        ]
      +pageSection
        +productsList(products)
      +pageSection
        +grid
          +grid__item({m:8,s:10,xs:12})
            h2 Wholesaler of human hair extensions
            p We sell human hair for extensions of our own production. We offer 55 shades of hair from blond to dark colors. Length up to 80 cm. In our office you can buy extensions with a wholesaler discount up to 20%.
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/service/warranty/') Guarantees for products 
              li
                a(href='/about/manufacturing/') How we produce products
              li
                a(href='/about/sertificates/') Certificates for hair extensions
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
