extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Sertificates'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','About us'], 'current':'Sertificates'})
      h1 Sertificates
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            p Volosy 24 ltd. is one of the few companies holding an expert resolution issued by the Federal State Sanitary Control Committee on human hair products, wigs, hair pieces, hair extension strands which we produce and sell. This document confirms that our products comply with all the necessary sanitary norms and standards.
            +grid({paddingy:true})
              +grid__item({s:4,xs:6})
                a(href='/images/sertificates/1.jpg' data-fancybox='sertificates')
                  img(src='/images/sertificates/1.jpg')
              +grid__item({s:4,xs:6})
                a(href='/images/sertificates/2.jpg' data-fancybox='sertificates')
                  img(src='/images/sertificates/2.jpg')
              +grid__item({s:4,xs:6})
                a(href='/images/sertificates/3.jpg' data-fancybox='sertificates')
                  img(src='/images/sertificates/3.jpg')
            h2 Compliance declaration on keratin glue
            p This declaration was received on the territory of the Russian Federation based on the Material Safety Data Sheet issued by the Italian producer. This product is absolutely safe for human hair and skin.
            +grid({paddingy:true})
              +grid__item({s:4,xs:6})
                a(href='/images/sertificates/4.jpg')
                  img(src='/images/sertificates/4.jpg')
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/wholesale/') How to start buying our hair at wholesaler prices?
              li
                a(href='/about/') We talk about how we work
              li
                a(href='/about/manufacturing/') Learn the process of production "from the inside"
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
