extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Sitemap'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair'], 'current':'Sitemap'})
      h1 Sitemap
      +pageSection
          ul.list-links
            li
              a(href='/products/'): strong Product guide
              ul.list-links
                li: a(href='/products/human-hair-in-bundles.html') Human hair in bundles
                li: a(href='/products/pre-bonded-keratin-based-extensions.html') Pre-bonded keratin-based extensions
                li: a(href='/products/tape-extensions.html') Tape extensions
                li: a(href='/products/color-ring.html') Color ring
            li: a(href='/price/'): strong Price
            li
              a(href='/service/'): strong Customer service
              ul.list-links
                li: a(href='/service/how-to-order/') How to order
                li: a(href='/service/delivery/') Delivery information
                li: a(href='/service/payment/') Payment Security Information
                li: a(href='/service/warranty/') Product Warranty
                li: a(href='/service/tax/') Duties and Taxes
                li: a(href='/service/faq/') FAQ
                li: a(href='/service/order-tracking/') Order tracking
            li
              a(href='/about/'): strong About us
              ul.list-links
                li: a(href='/about/manufacturing/') Manufacturing
                li: a(href='/about/reviews/') Reviews
                li: a(href='/about/sertificates/') Sertificates
            li: a(href='/wholesale/'): strong Become a wholesaler
            li: a(href='/contact/'): strong Contact
