extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Tape extensions'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/colors
  .container
    .content.content--main
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Product guide'], 'current':'Tape extensions'})
      h1 Tape extensions
      +pageSection
        +grid({paddingy:true}).product
          +grid__item({m:5,xs:12}).product__images
            include /blocks/product-photos/product-photos
            -
              const photos = [
                {src:'/images/products/bundles.jpg', alt:''},
                {src:'/images/products/bundles-2.jpg', alt:''},
                {src:'/images/products/bundles-3.jpg', alt:''},
              ]
            +productPhotos(photos)
          +grid__item({m:7,xs:12}).product__info
            include /blocks/product-top-panel/product-top-panel
            p Tape extensions are very popular today. This is a very easy and quick method.
            p We use natural human hair (slavic type) of high quality for making tape extensions. All the hair is carefully selected, we use only Remy type. Thanks to our careful coloring technology cuticles and hair structure are preserved which provides for a long period of use.
            p Tape extensions are packed by 10 pieces. In average, 40 tapes are enough for a full head procedure. The weight of hair in tapes is adjusted in such a way that tapes would be invisible and natural on one’s head and also would be safe for client’s own hair.
            p Adhesive tapes are made of high-quality materials absolutely safe for client’s skin and providing reliable bond.
      +pageSection#product-colors
        h2 54 colors
        
        +colorsSlider(colors)
      +pageSection#product-price
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            h2 Price per unit 
              small package (10 tapes)
            +priceBlock(pricesTape)
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,xs:12})
            +form(wholesaleForm).product-order-form#product-order-form
            include /blocks/wholesale-tooltip/wholesale-tooltip
          +grid__item({m:4,xs:12})
            include /blocks/product-delivery/product-delivery
          
        
