extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Duites and Taxes'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({'parents':['Slavic hair extensions - russian-hair','Customer service'], 'current':'Duites and Taxes'})
      h1 Duites and Taxes
      +pageSection
        +grid({paddingy:true})
          +grid__item({m:8,s:9,xs:12})
            p Our prices do not include duties and taxes to be paid on the territory of your country.
            p When receiving the shipment you will have to clear the customs and pay duties according to the legislation of your country. The amounts of these payments depend on the type of shipment and the declared invoice.

            p We will help you to find out the size of your custom duties. 
              br
              | Please, address us at 
              a(href='mailto:market@russian-hair.org') market@russian-hair.org
      +pageSection({type:'more-info'})
        +grid
          +grid__item({m:6,xs:12})
            h2 What's more?
            ul.list-links
              li
                a(href='/service/payment/') Payment
              li
                a(href='/service/order-tracking/') Order tracking
              li
                a(href='/service/delivery/') Delivery
          +grid__item({m:6,xs:12})
            include /data/form-condition-for-wholesale.pug
            +form(formConditionForWholesale).form-condition-for-wholesale
