.home-wholesale
  border 10px solid
  padding (basePadding*3) (basePadding*2.5) (basePadding*4)
  border-image-source url('../images/border.png')
  border-image-slice 10 fill
  border-image-repeat stretch
  h2
    font-size font-xxxl
    text-align center
    color #b0986e
  .btn
    padding-top basePadding
    padding-bottom basePadding
    width 100%
    font-size font-l
