mixin pageSection(settings = {})
  -
    let classList = attributes.class ? attributes.class : ''
  if settings.type
    - classList += ` page-section--${settings.type}`
  .page-section(class!= classList id!= attributes.id)
    block
