grid-items(count)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      &--{i}
        flex-grow 0
        flex-shrink 0
        width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-s)
        &--s-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-hd)
        &--hd-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-xl)
        &--xl-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-l)
        &--l-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-m)
        &--m-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)


.grid
  margin-x -(basePadding)
  display flex
  flex-wrap wrap
  &--align-center
    align-items center
  &--align-flex-end
    align-items flex-end
  &--justify-flex-end
    justify-content flex-end
  &--justify-center
    justify-content center
  &--nopadding
    margin-x 0
  &--padding-y
    margin-y -(basePadding)
  &__cell
    padding-x basePadding
    flex-grow 1
    grid-items(12)
    ^[-1]--cols-10 > &
      grid-items(10)
    ^[-1]--nopadding > &
      padding-x 0
    ^[-1]--padding-y > &
      padding-y basePadding
