.home-top
  // background-image url('../images/home-parallax.jpg')
  // background-size cover
  // background-position center 25% 
  margin-bottom (basePadding*3)
  position relative
  overflow hidden
  &__parallax
    z-index -1
    width 100%
    position absolute
    top -10.85rem
    left 0
    width 100vw
    will-change transform
    img
      max-width none
      min-width 100%
  &__inner
    display flex
    margin-x -(basePadding)
    align-items center
    flex-wrap wrap
    min-height 24rem + (basePadding*2)
  &__image
    width 34rem + (basePadding*2)
    height 24rem
    background-image url('../images/home-top.png')
    background-size 34rem 24rem
    background-position center
    background-repeat no-repeat
  &__title
    font-size 2.5rem
    line-height 3.5rem
    padding-x basePadding
