.wholesale-tooltip#wholesale-tooltip
  +grid({paddingy: true})
    +grid__item({m:5,s:6,xs:12})
      strong Field of activity
      br
      | Shop, beauty salon, a dealer
    +grid__item({m:5,s:6,xs:12})
      strong Address
      br
      | We will offer delivery method
    +grid__item({m:2,s:6,xs:12})
      | other
