mixin youtube(videoId, description)
  -var src = 'https://www.youtube.com/embed/' + videoId
  .youtube-responsive
    .youtube-responsive__iframe
      iframe(src= src allowfullscreen)
    if description
      .youtube-responsive__desc !{description}
