include ../form-input/form-input

mixin form(form)
  -
    let classList = ''
    let inputWidth = 12
    let submitWidth = inputWidth
    let gridSettings = {paddingy:true}
  if form.settings.oneline && form.inputs.length == 1
    -
      inputWidth = 7
      submitWidth = 5
      classList += ' form--oneline'
  if form.settings.cols && form.inputs.length > 1
    - inputWidth = 6
  .form(class= `${attributes.class} ${classList}` id!= attributes.id action!=attributes.action)
    h2.form__title !{form.title}
    if form.description
      .form__description
        if typeof form.description == 'string'
          p !{form.description}
        if typeof form.description == 'object'
          each p in form.description
            p !{p}
    +grid(gridSettings).form__elements
      each input in form.inputs
        if attributes.class
        -
          let id = input.id
          id = `${attributes.class}__${id}`
          input.id = id
        if input.settings && input.settings.wide
          - inputWidth = 12
        if input
          +grid__item({m:inputWidth,xs:12}).form__input
            +formInput(input)
        else 
          +grid__item({m:inputWidth,xs:12}).hidden-s.hidden-xs
      +grid__item({m:submitWidth,xs:12}).form__submit
        button(type='submit').btn !{form.submit}
    if form.clar
      .form__clarification !{form.clar}
    
