mixin feedbackList(list)
  .feedback-list
    each item in list
      .feedback-list__item
        +grid({paddingy:true})
          - let infoWidth = 8
          if item.image
            +grid__item({m:4,xs:12}).feedback-list__image
              img(src=`${item.image}` alt=`${item.title}`)
          else 
            - infoWidth = 12
          +grid__item({m:infoWidth,xs:12}).feedback-list__info
            h3.feedback-list__title !{item.title}
            if item.location
              .feedback-list__location !{item.location}
            if item.occupation
              .feedback-list__occupation !{item.occupation}
            .feedback-list__body !{item.description}
            
