.feedback-list
  &__item
    padding-y (basePadding*2)
    border-bottom 0.5px solid #cccccc
    &:last-child
      border-bottom none
      padding-bottom 0
  &__occupation
  &__location
    font-style italic
  &__body
    @extends p
    margin-bottom 0
    margin-top 1.5rem
