-
  const colors = [
    {name:'1', img:'/images/colors/1.jpg'},
    {name:'1b', img:'/images/colors/1b.jpg'},
    {name:'2', img:'/images/colors/2.jpg'},
    {name:'2b', img:'/images/colors/2b.jpg'},
    {name:'3', img:'/images/colors/3.jpg'},
    {name:'3', img:'/images/colors/3.jpg'},
    {name:'3b', img:'/images/colors/3b.jpg'},
    {name:'4', img:'/images/colors/4.jpg'},
    {name:'4b', img:'/images/colors/4b.jpg'},
    {name:'5', img:'/images/colors/5.jpg'},
    {name:'5b', img:'/images/colors/5b.jpg'},
    {name:'6', img:'/images/colors/6.jpg'},
    {name:'8', img:'/images/colors/8.jpg'},
    {name:'10', img:'/images/colors/10.jpg'},
    {name:'12', img:'/images/colors/12.jpg'},
    {name:'16', img:'/images/colors/16.jpg'},
    {name:'16b', img:'/images/colors/16b.jpg'},
    {name:'18', img:'/images/colors/18.jpg'},
    {name:'19', img:'/images/colors/19.jpg'},
    {name:'20', img:'/images/colors/20.jpg'},
    {name:'20b', img:'/images/colors/20b.jpg'},
    {name:'22', img:'/images/colors/22.jpg'},
    {name:'22b', img:'/images/colors/22b.jpg'},
    {name:'24', img:'/images/colors/24.jpg'},
    {name:'24b', img:'/images/colors/24b.jpg'},
    {name:'28', img:'/images/colors/28.jpg'},
    {name:'28b', img:'/images/colors/28b.jpg'},
    {name:'29', img:'/images/colors/29.jpg'},
    {name:'33', img:'/images/colors/33.jpg'},
    {name:'33b', img:'/images/colors/33b.jpg'},
    {name:'71b', img:'/images/colors/71b.jpg'},
    {name:'81', img:'/images/colors/81.jpg'},
    {name:'81b', img:'/images/colors/81b.jpg'},
    {name:'87', img:'/images/colors/87.jpg'},
    {name:'88', img:'/images/colors/88.jpg'},
    {name:'91', img:'/images/colors/91.jpg'},
    {name:'97', img:'/images/colors/97.jpg'},
    {name:'98', img:'/images/colors/98.jpg'},
    {name:'98b', img:'/images/colors/98b.jpg'},
    {name:'100', img:'/images/colors/100.jpg'},
    {name:'110', img:'/images/colors/110.jpg'},
    {name:'110b', img:'/images/colors/110b.jpg'},
    {name:'135', img:'/images/colors/135.jpg'},
    {name:'135b', img:'/images/colors/135b.jpg'},
    {name:'602', img:'/images/colors/602.jpg'},
    {name:'613', img:'/images/colors/613.jpg'},
    {name:'917', img:'/images/colors/917.jpg'},
    {name:'000', img:'/images/colors/000.jpg'},
    {name:'220', img:'/images/colors/220.jpg'},
    {name:'330', img:'/images/colors/330.jpg'},
    {name:'440', img:'/images/colors/440.jpg'},
    {name:'550', img:'/images/colors/550.jpg'},
    {name:'660', img:'/images/colors/660.jpg'},
    {name:'990', img:'/images/colors/990.jpg'}
  ]
