-
  let delivery = [
    {
      img: 'ups.png',
      title: 'UPS',
      links: [
        {name:'english language', href:'https://wwwapps.ups.com/ctc/request?loc=en_RU&WT.svl=PNRO_L1'},
        {name:'russian language', href:'https://wwwapps.ups.com/ctc/request?loc=ru_RU&WT.svl=PNRO_L1'},
      ],
    },
    {
      img: 'fedex.png',
      title: 'FedEx',
      links: [
        {name:'english language', href:'https://www.fedex.com/ratefinder/home?cc=ru&language=en'},
        {name:'russian language', href:'https://www.fedex.com/ratefinder/home?cc=ru&language=ru'},
      ],
    },
    {
      img: 'ems.png',
      title: 'EMS',
      links: [
        {name:'russian language', href:'http://www.emspost.ru/ru/calc/'},
      ],
    },
    {
      img: 'cse.png',
      title: 'CSE',
      links: [
        {name:'english language', href:'http://www.cse.ru/sitecontent/city-mosrus/lang-eng/content/131/'},
        {name:'russian language', href:'http://www.cse.ru/sitecontent/city-mosrus/lang-rus/content/131/'},
      ],
    },
    {
      img: 'dhl.png',
      title: 'DHL',
      links: [
        {name:'english language', href:'https://www.mydhl.dhl.com/mydhl/appmanager/smep/customerDesktop?_nfpb=true&_pageLabel=smep_portal_page_login&utm_source=RU&utm_medium=nav&utm_campaign=get_rate_link#portletShippingOptions'},
        {name:'russian language', href:'https://www.mydhl.dhl.com/mydhl/appmanager/smep/customerDesktop?_nfpb=true&_pageLabel=smep_portal_page_login&utm_source=RU&utm_medium=nav&utm_campaign=get_rate_link#portletShippingOptions'},
      ],
    },
  ]
