-
  let formConditionForWholesale = {
    title: 'Find out the conditions for wholesaler customers',
    description: 'Send wholesaler prices, the conditions for procurement volumes',
    inputs: [{label:'E-mail', type:'email', id:'email', name:'email'}],
    submit: 'Get',
    clar: 'or <a href="/wholesale/">fill out a detailed application form</a>',
    settings: {oneline:true}
  }
