-
  const mainMenu = [
    {
      name:'Product guide',
      href:'product-guide.html',
      sub: [
        {name:'Human hair in bundles', href:'human-hair-in-bundles.html'},
        {name:'Pre-bonded keratin-based extensions', href:'pre-bonded-keratin-based-extensions.html'},
        {name:'Tape extensions', href:'tape-extensions.html'},
        {name:'Color ring', href:'color-ring.html'},
      ]
    },
    {name:'Price', href:'price.html'},
    {name:'Customer service', href:'service.html',
      sub: [
        {name:'How to order', href:'how-to-order.html'},
        {name:'Delivery information', href:'delivery.html'},
        {name:'Payment Security Information', href:'payment.html'},
        {name:'Product warranty', href:'warranty.html'},
        {name:'Duites and Taxes', href:'tax.html'},
        {name:'FAQ', href:'faq.html'},
        {name:'Order tracking', href:'order-tracking.html'},
      ]
    },
    {name:'About us', href:'about.html',
      sub: [
        {name:'Manufacturing', href:'manufacturing.html'},
        {name:'Reviews', href:'reviews.html'},
        {name:'Sertificates', href:'sertificates.html'},
      ]
    },
    {name:'Become a wholesaler', href:'wholesale.html'},
    {name:'Contact', href:'contact.html'},
  ]
