-
  let pricesBundle = {
    currencies: [
      {id: 'eur', name: 'Euro', sign: '€'},
      {id: 'usd', name: 'Dollar', sign: '$'},
    ],
    unit: '100 gr',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [ ['153,65','122,92'],['164,07','131,25'] ] 
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [ ['160,63','128,51'],['171,53','137,22'] ]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [ ['170,24','136,19'],['181,78','145,42'] ]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [ ['186,83','149,46'],['199,49','159,59'] ]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [ ['202,54','162,03'],['216,27','173,02'] ]
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [ ['209,52','167,62'],['223,73','178,98'] ]
      },
      {
        lng: '65 cm (26” inch)<br>dark colors',
        rows: [ ['207,78','166,22'],['221,86','177,49'] ]
      },
      {
        lng: '65 cm (26” inch)<br>light colors',
        rows: [ ['214,76','171,81'],['229,32','183,46'] ]
      },
      {
        lng: '70 cm (28” inch)<br>dark colors',
        rows: [ ['235,29','188,23'],['251,24','200,99'] ]
      },
      {
        lng: '70 cm (28” inch)<br>light colors',
        rows: [ ['242,97','194,37'],['259,44','207,55'] ]
      },
      {
        lng: '75 cm (30” inch)<br>dark colors',
        rows: [ ['241,05','192,84'],['257,39','205,91'] ]
      },
      {
        lng: '75 cm (30” inch)<br>light colors',
        rows: [ ['248,73','198,98'],['265,59','212,47'] ]
      },
      {
        lng: '80 cm (32” inch)<br>dark colors',
        rows: [ ['246,81','197,45'],['263,54','210,83'] ]
      },
      {
        lng: '80 cm (32” inch)<br>light colors',
        rows: [ ['254,49','203,59'],['271,75','217,40'] ]
      },
      {
        lng: '85 cm (34” inch)<br>dark colors',
        rows: [ ['252,57','202,06'],['269,69','215,76'] ]
      },
      {
        lng: '85 cm (34” inch)<br>light colors',
        rows: [ ['260,25','208,20'],['277,90','222,32'] ]
      },
    ]
  }

  let pricesPreBonded = {
    currencies: [
      {id: 'eur', name: 'Euro', sign: '€'},
      {id: 'usd', name: 'Dollar', sign: '$'},
    ],
    unit: '1 pcs',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [ ['1,32','1,05'],['1,41','1,13'] ]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [ ['1,40','1,12'],['1,49','1,19'] ]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [ ['1,49','1,19'],['1,59','1,27'] ]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [ ['1,57','1,26'],['1,68','1,34'] ]
      },
      {
        lng: '60 cm (24” inch)',
        rows: [ ['1,90','1,52'],['2,03','1,63'] ]
      },
      {
        lng: '65 cm (26” inch)',
        rows: [ ['1,98','1,59'],['2,12','1,69'] ]
      },
      {
        lng: '70 cm (28” inch)',
        rows: [ ['2,54','2,03'],['2,71','2,17'] ]
      },
      {
        lng: '75 cm (30” inch)',
        rows: [ ['3,17','2,54'],['3,39','2,71'] ]
      },
      {
        lng: '80 cm (32” inch)',
        rows: [ ['3,49','2,79'],['3,73','2,98'] ]
      },
      {
        lng: '85 cm (34” inch)',
        rows: [ ['3,57','2,86'],['3,81','3,05'] ]
      },
    ]
  }

  let pricesTape = {
    currencies: [
      {id: 'eur', name: 'Euro', sign: '€'},
      {id: 'usd', name: 'Dollar', sign: '$'},
    ],
    unit: 'package (10 tapes)',
    prices: [
      {
        lng: '40 cm<br>(16” inch)',
        rows: [ ['45,40','36,32'],['48,47','38,78'] ]
      },
      {
        lng: '45 cm<br>(18” inch)',
        rows: [ ['47,14','37,71'],['50,34','40,27'] ]
      },
      {
        lng: '50 cm<br>(20” inch)',
        rows: [ ['47,14','37,71'],['55,93','44,75'] ]
      },
      {
        lng: '55 cm<br>(22” inch)',
        rows: [ ['47,14','37,71'],['59,66','47,73'] ]
      },
      {
        lng: '60 cm (24” inch)<br>light colors',
        rows: [ ['47,14','37,71'],['61,53','49,22'] ]
      },
      {
        lng: '60 cm (24” inch)<br>dark colors',
        rows: [ ['47,14','37,71'],['63,39','50,71'] ]
      },
    ]
  }
