-
  let reviewsList = [
    {
      title:'Tatiana',
      location:'Enigma Beauty, Dubai, UAE.',
      description:'We have worked with Volosy 24 Ltd for almost two years. We learnt about this company from our colleague who is working in Russia. After that we personally came to St. Petersburg to see the quality and products selection. We are satisfied with hair quality. There is always a wide selection of colors and lenghts. Sometimes they make hair products specially for us. Our clients are happy and this is what matters.'
    },
    {
      title:'Angelica',
      occupation:'hair extensions technologist',
      location:'Deluxebeautyss, Helsinki, Finland.',
      description:'I am a hair extensions technologist working in a beauty salon in Finland. I have many clients who want to have extensions of the best quality. We have a very poor choice of hair extensions in our city and the quality leaves much to be desired. I regularly come to St. Petersburg and was very happy to find out about Volosy 24. I buy hair for extensions from this company for my clients. I am fully satisfied with the hair quality.'
    },
    {
      image:'/images/reviews/review-1.jpg',
      title:'Alesia Minginovich',
      description:'Hello my name is Alesia Minginovich. I have been a hair extensions technologists for ten years already in Riga, Latvia. We have worked with different hair suppliers in Europe and America, tried brazilian hair as well. But currently our hair salon “Ami Studio” has selected Volosy 24 ltd. as a hair supplier. The hair is live, cuticles and directions are preserved, the hair does not tangle. We are very happy with our cooperation, thank you, we love your hair products.'
    },
    {
      image:'/images/reviews/review-2.jpg',
      title:'Beauty salon, Hair extensions studio, Tallinn (Estonia)',
      location:'Tallinn (Estonia)',
      description:'We first got to know Volosy 24 Ltd at the Beaty salon in St. Petersburg “Nevskie Berega” in 2012 where several hair distributors were presented. We decided to make the first trial order from this company to test the quality and to see if our Estonian clients will be happy with this hair. Since then we have been growing and developing together with Volosy 24. We are fully satisfied with the hair quality, our clients are happy and we have customers who come to us not only from Estonia but from other European countries - Germany, Finland, Latvia, etc. Beauty salon, Hair extensions studio, Tallinn (Estonia)'
    },
  ]
