-
  let wholesaleForm = {
    title: 'Become a wholesale',
    inputs: [
      {label:'Name', type:'text', id:'name', name:'name'},
      '',
      {label:'E-mail', type:'email', id:'email', name:'email'},
      {label:'Phone', type:'tel', id:'phone', name:'phone'},
      {label:'attachment', type:'file', id:'file', name:'file',desc:'<a href="/Example-order-russian-hair.docx">download sample order</a>',settings:{wide:true}},
      {label:'Comments', type:'textarea', id:'comments', name:'comments', desc:'<a href="#wholesale-tooltip" data-fancybox>What write?</a>',settings:{wide:true}},
    ],
    submit: 'Send',
    settings: {cols:true}
  }
